<app-navbar></app-navbar>
<section class="add-cat-section">
  <div class="card">
    <div class="title">
      <h1>Add a new sighting</h1>
      <p>Have you seen a cat recently? Help the community keep track of our feline friends.</p>
    </div>

    <form class="add-cat-form" [formGroup]="addCatForm" (ngSubmit)="onSubmit()">
      <div class="photo">
        <h3>1. Upload image</h3>
        <label for="image" class="upload-box">
          @if (imagePreview) {
            <img [src]="imagePreview" alt="Selected image preview" class="preview-image">
          } @else {
            <span>📷 Click here to upload an image</span>
          }
        </label>
        <input id="image" type="file" accept="image/*" (change)="onFileSelected($event)" hidden>
      </div>

      <div class="location">
        <h3>2. Click on the map to select location</h3>
        <app-map
          size="small"
          (locationSelected)="onLocationSelected($event)"
          [isClickable]="true">
        </app-map>
      </div>

      <div class="form-group">
        <h3>3. Details</h3>
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title">

        <label for="description">Description</label>
        <quill-editor
          theme="snow"
          [modules]="modules"
          placeholder="Describe the cat..."
          formControlName="description">
        </quill-editor>
      </div>
      <button type="submit">Confirm</button>
    </form>
  </div>
</section>
<app-footer></app-footer>
