.hero {
  text-align: center;
  padding: 20px 20px;
  background: #FFF7ED;
}

.hero p {
  max-width: 600px;
  margin: 10px auto;
  color: #374151;
}

.actions button {
  margin: 15px;
  padding: 10px 25px;
  color: white;
  background: #F97D24;
  border:#F97D24;
  border-radius: 8px;
}

.actions button:hover {
  background: #FCA65F;
  cursor: pointer;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: auto;
}
