<app-navbar></app-navbar>

<section id="login-section">
  <div class ="login-card">
    <img class="logo" src="../../assets/logo.png" alt="Logo">
    <h1> Welcome back to StreetCats! </h1>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button id="submit">Login</button>
    </form>
    <p class="register-text">
      Dont' have an account?
      <a href="/register">Sign up</a>
    </p>
  </div>
</section>

<app-footer></app-footer>


