#map {
  height: 700px;
  width: 100%;
}

// .add-cat-section{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: #FFF7ED;
//   padding: 30px 30px;
// }

#add-button{
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  background: #F97316;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background: #F97D24;
  border-radius:50%;
}

button:hover#add-button{
  background: #FCA65F;
  cursor: pointer;
}

.intro {
  text-align: center;
  padding: 20px 20px;
  background: #FFF7ED;
}

.intro p {
  max-width: 600px;
  margin: 10px auto;
  color: #374151;
}

.actions button {
  margin: 15px;
  padding: 10px 25px;
  color: white;
  background: #F97D24;
  border:#F97D24;
  border-radius: 8px;
}

.actions button:hover {
  background: #FCA65F;
  cursor: pointer;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: auto;
}
