<app-navbar></app-navbar>

<section class="intro-section">
  <section class="left-side">
    <h1> Every cat deserves a home!</h1>
    <p>
      Discover and share sightings of stray cats in your area.
      Help your community care for them or reunite lost cats with their owners 🐾
    </p>
    <div>
      <button routerLink="/">Explore the map</button>
      <button id="right-button" routerLink="/add-cat">Add a new cat</button>
    </div>
  </section>
  <section class="right-side">
    <img src="assets/molly.jpg" alt="Molly the cat" class="cat-image">
    <p>Latest Cat Sightings</p>
  </section>
</section>

<section class="map-section">
  <h1> Explore the sightings </h1>
  <p> Discover through the map where cats have been spotted. </p>
  <app-map size="large">
    <button id="add-button" routerLink="/add-cat"> + </button>
  </app-map>
</section>

<section class="community-section">
  <section id="join-community">
    <h1>Join Our Community!</h1>
    <p>
      Become a part of our cat-loving community! Share your sightings,
      connect with fellow cat enthusiasts, and help us create a safer environment for our feline friends.
    </p>
    <div class="actions">
      <button routerLink="/register">Register now</button>
      <button id="right-button" routerLink="/login">Login</button>
    </div>
  </section>
</section>
<app-footer></app-footer>

