// SECTIONS
.intro-section {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  align-content: center;
  min-height: 500px;
  padding: 40px 0px;
  background: #FEF7EE;
  p{
    max-width: 500px;
  }
}

.cat-image {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 12px;
  object-fit: cover;
}

.left-section{
  max-width: 50%;
  justify-content: left;
  text-align: left;
}

.right-section {
  max-width: 50%;
  justify-content: right;
  text-align: center;
  background: #FEF7EE;
}

.map-section {
  text-align: left;
  padding: 10px 50px;
}

.community-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background: #FEF7EE;
}

#join-community{
  width: 90%;
  p{
    color:white;
    max-width: 80%;
  }
  h1{
    color:white;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  background: #F97316;
  text-align: left;
}

//BUTTONS
#add-button{
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  background: #F97316;
  border: none;
  width: 70px;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background: #F97D24;
  border-radius:50%;
}

button:hover#add-button{
  background: #FCA65F;
  cursor: pointer;
}

button {
  width: 200px;
  height: 75px;
  font-size: 18px;
  margin: 15px;
  padding: 10px 25px;
  color: white;
  background: #F97D24;
  border:#F97D24;
  border-radius: 50px;
}

#right-button{
  background: #FEF7EE;
  color: #F97D24;
  border:#F97D24 2px solid;
}

#right-button:hover{
  background: #FDE68A;
}

button:hover {
  background: #FCA65F;
  cursor: pointer;
}

// TEXT
h1{
  font-size: 3rem;
  color: #374151;
}

p{
  font-size: 1.5rem;
  color: #374151;
}

