<app-navbar></app-navbar>
<section class="intro">
  <img  class="logo" src="../../assets/logo-with-text.png" alt="Logo">
  <p>
    Discover and share sightings of stray cats in your area.
    Help your community care for them or reunite lost cats with their owners 🐾
  </p>
  <div class="actions">
    <button routerLink="/">Explore the map</button>
    <button routerLink="/add-cat">Add a new cat</button>
  </div>
</section>
<app-map size="large">
  <button id="add-button" routerLink="/add-cat"> + </button>
</app-map>
<app-loginbar></app-loginbar>
<app-footer></app-footer>

